<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/category/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">name</td><td>: <input type="text" name="name" required></td>
                 </tr><br>
                
                  <tr>
                    <td class="label">description</td><td>: <textarea rows="5" name="description" required></textarea> </td>
                 </tr><br>
                  <tr><td class="label"></td><td>status : <input type="checkbox" name="status" value="active" ><br></td></tr><br> 
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>


